<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Submit</button>
          <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Recipe Name</label>
            <input type="text" id="name" name="name" class="form-control" [formControlName]="'name'">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" name="imagePath" class="form-control" [formControlName]="'imagePath'" #imagePath>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive" src="">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Description">Description</label>
            <textarea type="text" id="description" name="description" class="form-control" row="6" [formControlName]="'description'"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">

          <div class="row">
            <div class="row">
              <div class="col-xs-6">
                <div class="col-xs-1">
                  <h5>Ingredients:</h5>
                </div>
                <div class="col-xs-8">
                  <button type="button" class="btn btn-success" (click)="onAddIngredient()">+</button>
                </div>
              </div>
              <div class="col-xs-6" *ngIf="recipeIngredientsControls.length > 1">
                <div class="col-xs-8">
                  <h5 class="pull-right">Remove All</h5>
                </div>
                <div class="col-xs-2 ">
                  <button type="button" class="btn btn-danger pull-right" (click)="onDeleteAllIngredients()">X</button>
                </div>
              </div>
            </div>


          </div>

          <div class="row" style="margin-top:10px;" *ngFor="let ingredientCtrl of recipeIngredientsControls; let i = index" [formGroupName]="i">
            <div class="col-xs-8">
              <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" placeholder="Amount ($)" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-warning" (click)="onDeleteIngredient(i)">-</button>
            </div>

          </div>
        </div>
      </div>



    </form>
  </div>
</div>
